.form-group {
    margin-bottom: 20px;
}

div [role = "main"] {
    overflow-y: auto !important;
}

.ui-listview > .ui-li-divider {
    font-size: 1em !important;
}

.capitalize {
    text-transform: capitalize;
}