#header-icon {
    width: 32px;
    height: 32px;
}


/*################# MapTab CSS #################*/

button {
    background-color: #0094ff;
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
}

    button:active {
        background-color: #307bb2;
    }

.buttons-section {
    margin-top: 25px;
}

#map {
    position: relative;
    height: 380px;
    width: 100%;
    margin: 25px auto;
}


/*################# SearchTab CSS #################*/
.not-displayed {
    display: none;
}

#insertLocationString {
    font-weight: bold;
}

form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#title {
    font-size: 16px;
}

#summary {
    font-size: 35px;
}

    #summary img {
        float: right;
    }

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}
